html,
body {
    height: 100%;
    background-color: #f9f9f9;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;    
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


<!-- Image and video part -->

.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
	display:block;
	position:relative;
	background-color: #000;
	color: #fff;
	padding: 8px;
	border-radius:3px
}
.video-list-thumbs > li > a:hover{
	background-color:gray;
	transition:all 500ms ease;
	box-shadow:0 2px 4px rgba(0,0,0,.3);
	text-decoration:none
}
.video-list-thumbs h2{
	bottom: 0;
	font-size: 14px;
	height: 33px;
	margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
	transition:all 500ms ease;
}
.video-list-thumbs .duration{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 2px 3px 1px;
	position: absolute;
	top: 12px;
}
.video-list-thumbs > li > a:hover .duration{
	background-color:#000;
	transition:all 500ms ease;
}
@media (min-width:320px) and (max-width: 480px) { 
	.video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
	}
	.video-list-thumbs h2{
		bottom: 0;
		font-size: 12px;
		height: 52px;
		margin: 8px 0 0;
	}
}



/*Reporter*/
.reporter-row {
    margin-bottom: 20px;
}

.slide-row {
    padding: 0;
    background-color: #ffffff;
    min-height: 200px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
}

.slide-row2 {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}

.slide-content {
    position: absolute;
    text-align: justify;
    
    top: 10%;
    display: block;
    width: 85%;
    max-height: 65%;
    padding: 1.5% 2% 2% 2%;
    overflow-y: hidden;
    text-overflow: ellipsis 
    
}


.slide-content2 {
    position: absolute;
    text-align: justify;
    
    top: 10%;
    display: block;
    width: 25%;
    max-height: 50%;
    padding: 1.5% 2% 2% 2%;
    overflow-y: hidden;
    text-overflow: ellipsis 
    
}

.slide-content3 {
    position: absolute;
    text-align: justify;
    
    top: 10%;
    display: block;
    padding: 1.5% 2% 2% 2%;    
}

.slide-content h4 {
    margin-bottom: 1px;
    margin-top: 0;
}


.slide-rating {
    position: absolute; 
    bottom: 0; 
    left: 0;
    margin-left: 2%;
    margin-bottom: 0.5%;
}

.slide-footer {
    position: absolute; 
    bottom: 0; 
    right: 0;
    margin-right: 2%;
    margin-bottom: 0.8%;
}


.menu_content{
	text-align: center;
}


<!-- Reporter style page -->
.glyphicon { 
	margin-right:5px;
}



.glyphicon-star {
	color:#e9b452;
}

.glyphicon-comment {
	color:#27ae60;
}

.separator { 
	padding-right:5px;
	padding-left:5px; 
}


.full {
  background: url(../images/football.jpg) no-repeat center center fixed; 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron h1{
	color:white;
	text-shadow: 0 0 10px #000; 
  	-moz-text-shadow: 0 0 10px #000;
 	 -webkit-text-shadow: 0 0 10px #000; 	 
}

.jumbotron p{
	color:white;
	text-shadow: 0 0 10px black; 
  	-moz-text-shadow: 0 0 10px #000;
  	-webkit-text-shadow: 0 0 10px #000;
}


.center {
    text-align: center;q
    background-color: #f9f9f9;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

/*404 Error page */

.error-template {padding: 40px 15px;text-align: center;);}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


/* Forum */

.forum .forum-post-panel {
    margin-bottom: 1em;
 
}

.forum.media-list li img.avatar {
    display: block;
    margin: 0 auto;
}

.forum.media-list li .user-info {
    text-align: center;
    width: 8em;
}

@media (max-width: 760px) {
    .forum.media-list li .user-info {
        float: none;
        width: 100%;
        margin-bottom: 1em;
    }
}

.content-left {
    position: absolute; 
    bottom: 0; 
    right: 0;
    margin-right: 2%;
    margin-bottom: 0.8%;
}

.content-left-posted {
    position: absolute; 
    right: 0;
    margin-right: 5%;
   margin-top: -0.5%
}

.yellow {
  color: #e9b452;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}